
 .header {
      border-bottom: 1px solid #e7e9fc;;
 }

 .header .logo {
      padding: 24px 0;
 } 
 .header-nav {
      font-weight: 500;
      margin-left: 76px;
      margin-right: auto;
 }

 .header-nav-list{
      justify-content: flex-start;
      gap: 40px;     
 }

 .address-list {
      align-items: center;
      justify-content: flex-start;
      gap: 40px;
 }

 .header-address {
     font-weight: 400;
 }  

 .header-nav-item {
     color: #2e2f42;
 }
 .header-nav-link:hover,
 .header-nav-link:focus,
 .header-address-link:hover,
 .header-address-link:focus {
     color: #404BBF;
 }
 .header-nav-link,
 .header-address-link {
   display: block;
   padding: 24px 0;
 }

 