.portfolio-list {
    flex-wrap: wrap;
    gap: 24px;
}
.portfolio-list-item {
    width: 360px;
}
.portfolio-list-item:nth-child(1),
.portfolio-list-item:nth-child(2),
.portfolio-list-item:nth-child(3) {
   margin-bottom: 24px;
}

.portfolio-textcontainer {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

